<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maxregner.extras.overlay"
    android:versionCode="2"
    android:versionName="2.0">

    <overlay android:targetPackage="android" android:priority="90" android:category="theme" />
    <application android:label="Maxregner Extras v2" android:hasCode="false" android:allowBackup="false" />
</manifest>
