<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maxregner.notifications.overlay"
    android:versionCode="20"
    android:versionName="2.0">

    <overlay android:targetPackage="com.android.systemui" android:priority="85" android:category="theme" />
    <application android:label="Maxregner Notifications" android:hasCode="false" android:allowBackup="false" />
</manifest>
