out/

# Cert
security/aios_ota.x509.pem
security/aios_ota.pk8
security/aios_platform.x509.pem
security/aios_platform.pk8

#
# We don't want to ignore the following even if they are dot-files
#
!.gitattributes
!.gitignore
!.gitmodules
