<?xml version="1.0" encoding="utf-8"?>
<config>
    <overlay package="com.maxregner.ui.overlay" enabled="true" />
    <overlay package="com.maxregner.nav.overlay" enabled="true" />
    <overlay package="com.maxregner.extras.overlay" enabled="true" />
    <overlay package="com.maxregner.statusbar.overlay" enabled="true" />
    <overlay package="com.maxregner.launcher.overlay" enabled="true" />
    <overlay package="com.maxregner.icons.overlay" enabled="true" />
    <overlay package="com.maxregner.quicksettings.overlay" enabled="true" />
    <overlay package="com.maxregner.notifications.overlay" enabled="true" />
</config>
