<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maxregner.extras.overlay"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="com.android.systemui" android:priority="90" android:category="theme" />
    <application android:label="Maxregner Extras" android:hasCode="false" android:allowBackup="false" />
</manifest>
